<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<header class="fixed-header">
  <div class="header-left">
   <a routerLink="" class="logo"><h1>Lalla's Kitchen</h1> </a> 
  </div>
  <div class="header-right">
    <!-- <a routerLink="" class="fa fa-home"> Home</a> -->
    <div *ngIf="isAdmin">
    <a routerLink="admin"> Admin </a>
    </div>

    <a routerLink="menus" class="fa fa-bars"> Menus</a>
  
    <a routerLink="cart" class="fa fa-shopping-cart"> Cart &nbsp; </a>
  
    <span class="cart-items-no"> {{cartItemsNo}} </span>

    <div *ngIf="!isLogedIn">
      <a routerLink=""  (click)="signInWithGoogle()" class="fa fa-sign-in"> Login</a>
    </div>
    <div *ngIf="isLogedIn">
      <a routerLink="account" class="fa fa-user"> Account</a>
    </div>
  </div>
</header>