<main>
    <div class="aboutComp">
      <div class="detailsAboutComp">
        <h1>Lalla's Kitchen</h1>
        <h3>
          Kaku Kitchen is a cloud kitchen, it can be assumed that it is a food
          business that operates exclusively through online orders and
          deliveries. The website for Kaku Kitchen would likely feature a menu
          of their offerings, information about their business model, and an
          online ordering system for customers to place orders. The website
          may also include details about the chefs or owners behind the
          business, as well as their mission statement or core values.
          Overall, the website would provide a convenient and user-friendly
          way for customers to order high-quality food for delivery from Kaku
          Kitchen.
        </h3>
      </div>
      <div class="imageAbout">
        <img src="aboutUsPG1.jpg" alt="wallpaper" width="100%" />
      </div>
    </div>
    <div class="aboutComp">
      <div class="imageAbout">
        <img src="team.jpg" alt="wallpaper" width="100%" />
      </div>
      <div class="detailsAboutComp">
        <h1>Our Team</h1>
        <h3>
          In a kitchen, teamwork is essential for the efficient and effective
          preparation of food. A kitchen team is made up of individuals with
          different roles and responsibilities, such as chefs, sous chefs,
          line cooks, and dishwashers.
          <br />
          <br />
          A successful kitchen team communicates effectively, works
          cohesively, and supports one another to ensure that dishes are
          prepared and served in a timely and consistent manner. Each member
          of the team has a specific role to play and must work in sync with
          other team members to ensure that every dish meets the high
          standards of the restaurant.
          <br />
          <br />
          The atmosphere of a kitchen can be fast-paced and high-pressure, so
          a strong team dynamic is crucial. A kitchen team must also be
          adaptable and able to respond to changing circumstances or
          unexpected situations. With a strong team in place, a kitchen can
          produce delicious and high-quality food that keeps customers coming
          back for more.
        </h3>
      </div>
    </div>

    <div class="aboutComp">
      <div class="detailsAboutComp">
        <h1>Awards</h1>
        <h3>
          National Restaurant Association of India (NRAI) Awards: NRAI is an
          industry association that recognizes excellence in the Indian
          restaurant industry through various awards and recognition programs.
          <br />
          <br />
          Times Food Awards: Times Food is a food and lifestyle publication
          that organizes an annual awards event to recognize the best
          restaurants and chefs across India.
        </h3>
      </div>

      <div class="imageAbout">
        <img src="award.jpg" alt="wallpaper" height="400px" />
      </div>
    </div>
  </main>
  <app-footer></app-footer>