<div>
	<div class="container">
		<h1>Sign In</h1>
		<form >
			<label for="mobile">Mobile No</label>
			<input  [(ngModel)]="mobile" type="text" id="mobile" name="mobile" placeholder="Enter your mobile" required>

			<label for="Address">Full Address</label>
			<input    [(ngModel)]="Address" type="text" id="Address" name="Address" placeholder="Enter your Address" required>

			<button (click)="submit()" type="submit">Sign In</button>
			
		</form>
		<br>
	</div>
</div>

<!-- 
[formGroup]="signupForm" (ngSubmit)="submit() -->

