  .mainBox{
    margin-top: 90px;
    margin-left: 160px;
  }
  
  .card {
    display: inline-block;
    margin-left: 7px;
    margin-bottom: 7px;
    align-items: left;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    max-width: 18vw;
  }

  .card:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
  }
  
  .card-img {
    width: 100%;
    max-height: 300vw;
    object-fit: cover;
  }
  
  .card-heading {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .card-description {
    margin-bottom: 1rem;
  }
  
  .card-quantity {
    display: flex;
    align-items: center;
    margin-top: 1vw;
  }
  
  .quantity-btn {
    background-color: #eee;
    border: none;
    font-size: 2vw;
    cursor: pointer;
  }

  .plus {
    margin-left: 1vw;
    border-radius: 90vw;
  }

  .minus {
    margin-right: 1vw;
    border-radius: 90vw;
  }

  .qty-button{
    display: flex;
    justify-content: space-between;
  }

  .add-to-cart-btn {
    border-radius: 5vw;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .add-to-cart-btn:hover {
    background-color: #0069d9;
  }
 
  @media screen and (max-width: 700px) {
    .mainBox{
      margin-top: 9vw;
      margin-left: 25vw;
    } 
    .card {   
      display: inline-block;
      margin-left: 7px;
      margin-bottom: 7px;
      align-items: left;
      border: 1px solid #ccc;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 1rem;
      max-width: 200vw;
    }
    .card-heading{
      font-size: 6vw;
    }
    .card-description{
      font-size: 4vw;
    }

    .plus {
      height: 8vw;
      margin-left: 2vw;
      border-radius: 90vw;
    }
  
    .minus {
      height: 8vw;
      margin-right: 2vw;
      border-radius: 90vw;
    }

    .card-quantity{
      margin-top: 4vw;
      height: 6vw;
    }
    .quantity-input{
      font-size: 5vw
      ;
    }

  

    .qty-button{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .add-to-cart-btn{
      margin-top: 5vw;
      border-radius: 5vw;
      font-size: 5vw;
    }
  }
  